/* WORKING CSS FILE */

/* palette https://coolors.co/9bbec7-08090a-f4f7f5-575a5e-222823 */
body {
    background-color: #000000;
    color: #f4f7f5;
    font-family: "Roboto", sans-serif;
}

.text-logo {
    color: black;
}

.header {
    color: #6320ee;
    font-size: 3em;
    margin: 0.5vw;
}

.navbar-custom {
    background-color: #2d0f6d;
    color: #f4f7f5;
    margin: 1%;
    border-radius: 5px;
}

.custom-form {
    background-color: black;
    color: #f4f7f5;
    padding: 5%;
}

.success_item {
    border: 5px solid rgb(48, 255, 48);
}

.info-card {
    background-color: black;
    border: 2px solid #6320ee;
}

.list-group-item {
    background-color: black;
    border: 1px solid #6320ee;
}

.card-header {
    background-color: black;
    border-bottom: 1px solid #6320ee;
}
