{% extends "base.html" %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <a class="navbar-brand text-logo" href="#"> GATEKEEPER </a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                    Home <span class="sr-only">(current)</span></a
                >
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register_pass' %}">
                    Register
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'validate' %}"> Validate </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'addevent' %}"> Dates </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'addstudents' %}">
                    Students
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">
                logout
            </button>
        </form>
    </div>
</nav>
{% endblock navbar %}

{% block content %}

    <div class="row">
      <div class="mx-auto m-3">
          <center><p class="header">Guest Check In</p></center>
      </div>
    </div>
    <div class="row">
      <div class="w-50 col m-5">
          <form id="check-guest-info">
              {% csrf_token %}
              <center>
              <video id="preview" class='' width=300 height=200></video>
              </center>
              <div class="form-group">
                  <label for="id">Scan the QR Code:</label>
                  <input type="text" name="uid" id="uid" class="form-control" />
                  <small class="form-text text-muted">
                      Scan the QR code to get the information about guest to
                      confirm.
                  </small>
              </div>
              <center>
                  <button type="submit" class="btn btn-outline-success w-100">
                      Validate Guest Pass
                  </button>
              </center>
          </form>
      </div>
      <div class="card info-card w-50 col m-5">
          <div class="card-header mb-2">
              <center> GUEST INFO </center>
          </div>
            <div class="col">
                <br>
                <div class="row">
                    <p class="col font-weight-bold">NAME</p><p class="col" id="guest-name"></p>
                </div>
                <div class="row">
                    <p class="col font-weight-bold">SECRET KEY</p><p class="col" id="guest-uid"></p>
                </div>
                <div class="row">
                    <p class="col font-weight-bold">GUEST OF</p><p class="col" id="guest-of-name"></p>
                </div>
                <div class="row">
                    <p class="col font-weight-bold">GUEST'S EMAIL</p><p class="col" id="guest-email"></p>
                </div>
                <div class="row">
                    <p class="col font-weight-bold">PASS CATEGORY</p><p class="col" id="pass-category"></p>
                </div>
                <div class="row">
                    <p class="col font-weight-bold">EVENT</p><p class="col" id="pass-event"></p>
                </div>
                <form id="check-guest">
                    {% csrf_token %}
                    <input name="checkinid" id="checkinid" type="text" hidden>
                    <center><button class="btn" id="check-guest-btn" type="submit"></button></center>
                </form>
                <br>
            </div>
      </div>
    </div>
    <p class='hidden' hidden id='funkystuff'></p>
    {% if error %}
    <center>
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    </center>
    {% endif %}

    <script src="{% static 'assets/jquery.min.js' %}"></script>
    
    <script type="text/javascript">

        function beltChange(e){
            if( e != 'none'){
                e.preventDefault();
            };
            console.log("changed"); 
            $.ajax({
                type:'POST',
                url:'check',
                data:{
                uid: $('#uid').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(data){
                if ('error' in data){
                    if (data.error == 'invalid'){
                        console.log('invalid format for guest ID');
                    }
                    else{
                        alert("GUEST NOT FOUND");
                    }
                } else {
                    console.log(data);
                    $('#guest-name').text(data.guestpass.guestname);
                    $("#guest-uid").text(data.uid);
                    $('#guest-of-name').text(data.name);
                    $('#guest-email').text(data.guestpass.email);
                    $('#checkinid').val(data.guest_id);
                    $('#pass-event').text(data.event);
                    $('#pass-category').text(data.category.name).css('color', data.category.color);
                    if (data.guestpass.checked_in == false) {
                        $('#check-guest-btn').addClass('btn-success').removeClass('btn-danger').text('CHECK IN');
                    } else {
                        $('#check-guest-btn').addClass('btn-danger').removeClass('btn-success').text('CHECK OUT');
                    }
                }
                }
            });
        };
        // get guest info on change of the UID input
        $(document).on("change keyup", "#uid", function(e) {
            beltChange(e);
            });


        // to get guest info upon submit 
        $(document).on('submit', '#check-guest-info', function(e){
            beltChange(e);
            });

            // to check in or check out guest based on submit
            $(document).on('submit', '#check-guest', function(e){
            e.preventDefault();

            $.ajax({
                type:'POST',
                url:'check',
                data:{
                    checkinid : $('input[name=checkinid]').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(data){
                    if (data.checked_in == false) {
                        $('#check-guest-btn').addClass('btn-success').removeClass('btn-danger').text('CHECK IN');
                    } else {
                        $('#check-guest-btn').addClass('btn-danger').removeClass('btn-success').text('CHECK OUT');
                    }
                }
            })

            });
    </script>

    <script type="text/javascript" src="{% static 'assets/instascan.min.js' %}"></script>
    <script type="text/javascript">
      let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
      scanner.addListener('scan', function (content) {
        document.getElementById("uid").value = content;
        document.getElementById("funkystuff").innerHTML = content;
        document.getElementById('preview').classList.add("success_item");
        beltChange('none');
        setTimeout(function(){
            document.getElementById('preview').classList.remove("success_item");
        }, 500);
        console.log(content);
      });
      Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
          scanner.start(cameras[0]);
        } else {
          console.error('No cameras found.');
        }
      }).catch(function (e) {
        console.error(e);
      });

      </script>

{% endblock content %}

